body {
font-family: sans-serif;
margin: 0;
padding: 0;
line-height: 1.6;
}
header {
background: black;
color: #fff;
padding: 1rem 0;
text-align: center;
}
h1, h2 {
margin-bottom: 0.5rem;
}
section {
padding: 2rem 5%;
}
footer {
background: black;
color: #fff;
text-align: center;
padding: 1rem 0;
position: fixed;
bottom: 0;
width: 100%;
}