table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid black;
}
th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}
td, th {
    padding: 8px;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover {
    background-color: #ddd;
}